@import '_variables';
@import '_template';

*{
  font-family: 'Museo Sans Cyrl ', sans-serif;
  font-weight: 500;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*SECTION - PROMO */ 
.promo {
  background: url(../img/bg-promo.jpg) center/cover no-repeat;
  padding: 21px 0 93px;

  &__ofical {
  color: #ffffff;
  font-size: 12px;
  text-align: center;

  span{
  display: block;
  font-size: 18px;
  font-weight: 700;
}
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  a{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
  }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  img{
    width: 100%;
  }
}
.button {
  @extend %btn;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: $main-color;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  
}


.promo {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 91px;
    }

		&__title {
      color: #ffffff;
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
		}

		&__subtitle {
      color: #ffffff;
      font-size: 24px;
      text-transform: uppercase;
		}

    &__items {
      width: 424px;
      height: 96px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      margin: 66px 0 67px;
		}

    &__link {
      margin-top: 18px;
      color: #ffffff;
      font-size: 16px;
      

      a{
        color: #ffffff;
        text-decoration: underline;
      }
		}
}
.item {
  span{
    display: block;
    margin-top: 20px;
    color: #ffffff;
    font-size: 14px;
  }
}
.button-promo {
width: 300px;
height: 50px;
font-size: 16px;
}

/* SECTION ADVANTAGE */ 
.advantage {
  padding: 70px 0 78px;
  text-align: center;
  background-color: #f6f6f6;

  &__title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
  }

  &__rows {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }
}
.row {
  width: 245px;
  margin: 0 48px 0;

  &__title {
    display: block;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    margin: 38px 0 25px;
  }

  &__text {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;

  a{
      color: $main-color;
      text-decoration: underline;
  }
  }
  }

/* SECTION .consultation */ 

.consultation{
  padding: 100px 0 92px;
  background: url(../img/bg-consult.jpg) center/cover no-repeat;

		&__title {
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
		}

		&__descr {
      color: #ffffff;
      font-size: 20px;
      margin: 80px 0 36px;
		}
}

.feed-form {
  width: 300px;
  input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 20px;
    outline: none;
  }
}
.button {

		&__submit {
      @extend %btn;
      width: 300px;
      height: 55px;
      border-radius: 5px;
      background-color: $main-color;
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      
		}
}

/* SECTION CAROUSEL */ 
.carousel {
  padding: 81px 0;

  &__inner {
    width: 750px;
    margin: 0 auto;
    position: relative;
  }

  .slick-prev, .slick-next{
    width: 31px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: -66px;
    border:none;
    outline: none;
    background: none;
  }
  
  .slick-next{
    right: -61px;
    left: auto;
  }
}



@import '_media';